


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    overflow-x: hidden;
}

/*      NAVBAR      */

nav{
    display: flex;
    max-height: 10vh;
    padding: 15px 15px;
    margin-top: 50px;
    width: 100vw;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
    font-size: 16px;
    padding: 0 18px;
}

.navlinks{
    margin-left: auto;
    margin-right: 100px;    
}

.navlinks a{
    color: white;
    text-decoration: none;
    font-family: 'Alata', sans-serif;
    margin-left: 15px;
    font-weight: 400;
}

.navlinks a:hover{
    border-bottom: 2px solid white;
    padding-bottom: 1.8px;
}

.loopstudio-img {
    margin-left: 11%;
}

.burger{
    display: none;
}

/*       LANDING PAGE       */

.bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 87vh;
    z-index: -1;
}

.desktop-bg{
    height: 100%;
    width: 100vw;
}

.mobile-bg{
    display: none;
}



.title-text{
    position: relative;
    left: 180px;
    top: 100px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 45px 50px;
    font-size: 4rem;
    color: white;
    border: 4px solid white;
    width: 46%;
    letter-spacing: 6px;
    font-weight: 300;
    line-height: 69px;
}

/*      MIDDLE CONTAINER      */

.middle-container{
    height: 100vh;
    padding: 100px;
    margin-top: 300px;
}

.interactive-img {
    width: 55vw;
    position: relative;
    left: 80px;
    top: -15px;
}

.interactive-text{
    padding: 70px;
    background: white;
    width: 40vw;
    position: relative;
    bottom: 325px;
    left: 45vw;
}

.interactive-header{
    font-size: 3rem;
    font-family: 'josefin sans', sans-serif;
    font-weight: 100;
    letter-spacing: 3px;
}

.interactive-paragraph{
    width: 34vw;
    margin-top: 30px;
    font-weight: 100;
    line-height: 30px;
    font-size: 14px;
    font-family: 'Alata', sans-serif;
    letter-spacing: 1.5px;
    color: hsl(0, 0%, 55%);
}

/*        CREATION HEADER & BUTTON        */

.creations-container{
    display: flex;
    width: 80vw;
    margin-left: 170px;
    margin-top: 80px;
    margin-bottom: 50px;
}

.creation-header{
    font-size: 2.8rem;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1.3px;
    font-weight: 100;
}

.see-all-btn{
    margin-left: auto;
    width: 150px;
    padding: 3px 15px;
    background:white;
    border: 2px solid black;
    border-radius: 2.5px;
    font-family: 'Alata', sans-serif;
    letter-spacing: 3px;
    height: 42px;
    cursor: pointer;
    position: relative;
    left: -32px;
}

.see-all-btn:hover{
    color: white;
    background: black;
}


.mobile-creation-text{
    display: none;
}

.mobile-img{
    display: none;
}

/*      THIRD CONTAINER     */

.third-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 145px;
}

.img-box{
    margin-right: 30px; 
    margin: 28px;
    background: black;
}

.img-box img{
 height: 100%;
 width: 100%;
 opacity: 0.6;
}

.img-box:hover{
    background: white;
}


.img-box:hover img {
    opacity: 0.4;
}

.text-box{
    position: relative;
    top: -120px;
}

.creation-text{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    padding: 15px;
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: 1.2px;    
    margin-bottom: -125px;   
    margin-left: 5%;    
}

.img-box:hover h3{
    color: black;
}

/*      FOOTER      */

.footer {
    position: relative;
    top: 55px;
    width: 100vw;
    height: 25vh;
    background:black;
    margin-top: 30px;
    padding-top: 3em;
}

.logo-and-icons{
    margin-left: 188px;
    width: 80vw;
    height: fit-content;
    
}

.footer-social-icon-facebook{
    margin-left: 69%;
    margin-right: 7px;
    cursor: pointer;
}

.footer-social-icon{
    margin-right: 7px;
    cursor: pointer;
}


.footer-social-icon:hover{
    border-bottom: 2px solid white;
    padding-bottom: 4px;
}

.footer-social-icon-facebook:hover{
    border-bottom: 2px solid white;
    padding-bottom: 4px;
}

.footer-text-and-links{
    width: fit-content;
}

.footer-nav{
    display: flex;
    margin-left: 138px;
    padding-top: 30px;
}

.footer-nav a:hover{
    border-bottom: 2px solid white;
}

.footer-nav a{  
color: white;  
text-decoration: none;  
margin-left: 15px; 
font-family: 'Alata', sans-serif; 
margin-bottom: 20px;  
margin-left: 50px;
}

@media only screen and (max-width:1240px) {
    .title-text{
        font-size: 3.2rem;
    }
}

@media only screen and (max-width:1000px) {
    
    .navlinks{
        display: none;
    }

    nav{
        justify-content: space-between;
    }

    .loopstudio-img{
        margin-left: 130px;
    }

    .burger{
        /* margin-left: auto; */
        display: block;
        margin-right: 122px;
        width: 30px;
    }
    .title-text{
        font-size: 6vw;
        height: 38vh;
        width: 65vw;
        /* padding-top: 50px; */
        left: 150px;
        font-weight: 500;
    }

    .middle-container img{
        width: 650px;
        left: 20px;
    }

    .interactive-header{
        font-size: 2rem;
    }

    .interactive-paragraph{
        width: 380px;
    }

    .interactive-text{
        width: 450px;
        bottom: 225px;
        margin-left: 0;
        left: 50%;
    }

    .see-all-btn{
        left: -40px;
    }

    .img-box{
        width: 25%;
    }

    h3{
        font-size: 1.7rem;
        margin-left: -5px;
    }
}

@media only screen and (max-width:800px){
    .title-text{
        font-size: 6.5vw;
        width: 90%;
        left: 30px;
        line-height: 1.3;
        padding: 45px;
    }

    .loopstudio-img{
        margin-left: 15px;
    }

    .burger{
        margin-right: 40px;
    }
}

@media only screen and (max-width:600px) {
    .title-text{
        height: 36vh;
        font-size: 7.5vw;
        padding: 45px;
    }

    .loopstudio-img{
        margin-left: 10px;
    }
}

@media only screen and (max-width:450px){

    .desktop-bg{
        visibility: hidden;
    }

    .mobile-bg{
        display: block;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
    }

    .title-text{
        font-size: 9vw;
        padding: 25px;
        left: 15px;
        padding-top: 35px;
    }

    .middle-container{
        
    }
    
    .middle-container img {
   
width: 25em;
   
/* position: static; */
   
left: -95px;
   
top: 25px;
}
    
    .interactive-text{
      
bottom: 0;
      
left: -120px;
    }
    
    .interactive-header{
      
text-align: center;
    }
    
    .interactive-paragraph{
        
text-align: center;
        

        
position: relative;
        
left: -35px;
    }
}

@media only screen and (max-width:345px) {
   body{
       overflow-x: hidden;
       
   }
   
    .bg{
        width: 100vw;
        height: 85vh;
    }    

       .title-text{
           height: auto;
           font-size: 8vw;
       }

       nav img{          
           width: 148px;
       }

       .desktop-bg{
           visibility: hidden;
       }

       .mobile-bg{
           display: block;
           width: 100vw;
           height: 87vh;
       }

       .middle-container{
        margin-top: 240px;
        text-align: center;
        padding: 40px;
        margin-top: 200px;
        justify-content: center;
        height: 80vh;
       }

       .middle-container img{
           width: 85vw;
           /* position: static; */
           height: 200px;
           /* margin-top: 100px; */
           /* margin-left: 6vw; */
           position: relative;
           left: -20px;
           top: 250px;
       }

       .interactive-img{
           position: relative;
           
       }

       .navlinks a{
        display: none;
       }

       .interactive-text{
           top: 200px;
           /* width: 100%; */
           /* align-content: center; */
           padding: 10px;
           /* margin-top: 260px; */
           /* background: transparent; */
           /* position: relative; */
           /* left: -40vw; */
       }

       .interactive-header{
           font-size: 7.8vw;
           letter-spacing: 0.5px;
           font-weight: 560;
           top: 50px;
           left: -155px;
           margin-top: 50px;
       }

       .interactive-paragraph{
           font-size: 3.5vw;
           width: 100%;
           letter-spacing: 0.5px;
           line-height: 1.9;
           right: 150px;
       }

       .creations-container{
           flex-direction: column;
           width: 100%;
           height: fit-content;
           padding: 10px;
           justify-content: center;
           /* position: relative; */
           /* left: -43.5vw; */
           overflow-x: hidden;
           margin-left: 3vw;
       }

       .creation-header{
           font-size: 9vw;
           width: 100vw;
           /* text-align: center; */
           margin-bottom: 45px;
           margin-top: 40px;
           position: relative;
           left: 5;
           margin-left: 26px;
       }

       .img-box{
           display: none;
       }

       .mobile-img-box{
           margin-bottom: 25px;
           /* margin-left: -10px; */
           background: black;
           height: 150px;
           width: 350px;
       }

       .mobile-creation-text{
           display: block;
       }

       .mobile-img-box:hover{
        background: white;
       }

       .mobile-img-box:hover h3{
        color: black;
    }
    
    .mobile-img-box:hover img {
        opacity: 0.4;
    } 

       .mobile-img{
           display: block;
           /* margin-top: 11px; */
           padding: 0;
           /* width: 90vw; */
           height: 150px;
           /* padding: 5px; */
           /* margin-left: 18.8px; */
           margin-bottom: 10px;
           /* background: black; */
           opacity: 0.4;
           width: 100%;
       }

       .see-all-btn{
           margin-left: 30vw;
           margin-top: 30px;
       }

       .third-container{
           display: none;
       }

       .footer{
           width: 100vw;
           height: 50vh;
           /* padding: 20px 10px; */
           flex-direction: column;
           /* margin-top: 0; */
           justify-content: center;
           align-items: center;
           align-content: center;
           text-align: center;
       } 

       .footer-logo{
           padding: 30px 20px;
           padding-top: 40px;
           /* left: -150px; */
       }

       .footer-logo img{
           
margin-left: -24vw;
           
margin-right: 24vw;
           
position: relative;
           
/* left: -24vw; */
           
margin-bottom: 25px;
           
top: -55px;
       }

       .footer-nav{
           display: flex;
           /* text-align: center; */
           min-width: 100vw;
       }

       .footer-text-and-links{
           /* flex-direction: column; */
           height: vh;
           /* position: relative; */
           background: black;
           /* left: 0; */
           /* right: 0; */
           min-width: 100vw;
       }

       .footer-nav{
           flex-direction: column;
           /* position: relative; */
           top: -19vh;
           left: -50vw;
           /* text-align: center; */
           /* justify-content: center; */
           /* text-align: center; */
       }

       .footer-nav a{
           /* position: relative; */
           margin-bottom: 20px;
           padding-top: 2px;
           /* top: -55px; */
           /* width: fit-content; */
           margin-left: 50vw;
           text-align: center;
           width: 1%;
       }

       .footer-icons{
           position: relative;
           top: 30vh;
           left: -30%;
           z-index: 5;
           width: 100%;
       }

       .small-footer-text{
       
        z-index: 1;
      
        position: static;
        
        display: flex;
        width: 100%;
        font-size: 1.6rem;
        position: relative;
        left: -150px;
        top: 75px;
        flex-direction: row;
        width: 100vw;
    }

    h6{
        color: hsl(0, 0%, 41%);
        font-size: 1.1rem;
        /* width: 100%; */
        /* text-align: center; */
        min-width: 100vw;
        /* left: -100vw; */
        top: 24vh;
        /* margin-bottom: 0; */
        height: 20px;
        margin-left: -135vw;
    }

    .attribution{
        display: none;
    }

    .navlinks{
        display: none;
    }

    .footer-social-icon{
        margin-right: 15px;
    }
}